html {
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: #d8e6ff;
    margin: 2rem 6rem;
}
nav ul, .middle{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0;
    align-items:center;
    justify-content:space-around;
}

nav li a {
    text-decoration: none;
}

nav .middle {
    justify-content: center;
}

.fa {
    padding: 1rem;
    border-radius: 50%;
    
}

@media (min-width: 800px) {
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
    /*nav li:not(first-child):nth-child(0.1.5) {
        flex-basis: auto;
        text-align: center;
        margin-right: auto;
        border: 1px solid blue;
    }*/
    /*nav li:nth-last-child(-2n+4) {
        flex-basis: flex-end;
        text-align:end;
        border: 1px solid blue;
    }*/
    nav .middle {
        flex-basis: auto;
        justify-content: center;
        margin: auto;

    }
}
p { 
    font-size: small;
    font-weight: lighter;
    margin:0;
}
h1 {
    margin: 0 auto;
   
}
